

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea{
  border: none;
  outline: none;
  resize: none;
  border-bottom: 2px solid #ffb6c3;
}


@font-face {
  font-family: 'Heebo';
  src: url(../fonts/heebo-v21-latin-300.woff2) format('woff2'),
    url(../fonts/heebo-v21-latin-300.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Heebo';
  src: url(../fonts/heebo-v21-latin-regular.woff2) format('woff2'),
    url(../fonts/heebo-v21-latin-regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url(../fonts/heebo-v21-latin-500.woff2) format('woff2'),
    url(../fonts/heebo-v21-latin-500.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Heebo';
  src: url(../fonts/heebo-v21-latin-600.woff2) format('woff2'),
    url(../fonts/heebo-v21-latin-600.woff) format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Heebo';
  src: url(../fonts/heebo-v21-latin-700.woff2) format('woff2'),
    url(../fonts/heebo-v21-latin-700.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: AmaticSC-Bold;
  src: url(../fonts/AmaticSC-Bold.ttf);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.swiper {
  max-width: 50em;
}

.swiper-button-next{
  background-image: url(/arrow.svg);
  background-repeat: no-repeat;
  transform: scaleX(-1);
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  right: 20px !important;
}
.swiper-button-prev {
  background-image: url(/arrow.svg);
  background-repeat: no-repeat;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  left: 20px !important;
}

.tabs ul li {
  background: white;
  
}

@keyframes spin {
  0% {
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
  }
  100% {
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
  }
}